.main {
    display: flex;
    flex-direction: row;
    background-color: #F9F4ED;
    align-items: center;
    color: #04030F;
    margin: 0 auto; 
    padding-left: 5em;
    padding-right: 5em;  
}

.head {
    font-family: "Playfair Display", serif;;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10em;
}

.p {
    font-family: "Karla", sans-serif;
}

.pfp img{
    width: 80%;
    height: 80%;
    border-radius: 50%; 
    object-fit: cover; 
    margin-top: 4em;;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 1em;
    border: 1px solid #04030F;
    color: #04030F;
    width: 6em;
}

.cta:hover {
    background-color: #9C182F;
    border: none;
    color: #F9F4ED;
}
.cta:hover::after {
    left: 0;
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-left: 2em;
        padding-right: 2em;
        align-items: center; 
    }

    .description {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: flex-start; 
        width: 70%;
        text-align: center;
        border-radius: 50px;
        margin: 5em auto;
        padding: 2em;
    }

    .pfp {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        order: -1;
        margin-bottom: -3em;
        margin-top: 2em;
    }

    .pfp img {
        width: 30%; 
        height: auto; 
        border-radius: 50%; 
        object-fit: cover;
    }

    .head {
        margin-top: 0; 
        font-family: "Playfair Display", serif;
    }

    .p {
        font-family: "Karla", sans-serif;
        text-align: center;
    }
}
