.back {
    color: #04030F;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: large;
}

.back:hover {
    color: #9C182F;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-size: large;
}

@media (max-width: 768px) {
    .back {
        color: white;
        text-decoration: none;
        font-family: "Karla", sans-serif;
        font-size: small;
    }  
}