.main {
    display: flex;
    flex-direction: column;
    background-color: #F9F4ED;
    color: #04030F;
    margin: 0 auto; 
    align-items: center;
}

.head {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2em;
    max-width: 40%;
}

.p {
    font-family: "Karla", sans-serif;
}
