.main {
    display: flex;
    flex-direction: column;
    background-color: #F9F4ED;
    color: #04030F;
    margin: 0 auto; 
    padding-left: 5em;
    padding-right: 5em;  
}

.head {
    font-family: "Karla", sans-serif;
}

.p {
    font-family: "Karla", sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
}

.submit{
    width: 6em;
    margin-top: 1em;
}