.main{
    display: flex;
    flex-direction: column;
    background-color: #04030F;
    color: white;
    margin: 0 auto; 
    padding-left: 5em;
    padding-right: 5em;  
}

.heading{
    font-family: "Playfair Display", serif;
    margin-bottom: 0em;
}

.subHeading{
    font-family: "Karla", sans-serif;
}

.pHeading {
    font-family: "Karla", sans-serif;
    width: 40rem;
}

.diorHead {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.diorBody {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.image {
    width: 100%;
    margin: 0 auto;
}

.tabletImage {
    width: 40%;      
    margin: 0 auto;   
    display: block;   
}

.p {
    text-align: left;
    padding-left: 0em;
    width: 40%;
    padding-bottom: 1em;
    font-family: "Karla", sans-serif;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        background-color: #04030F;
        color: white;
        margin: 0 auto; 
        padding-left: 2em;
        padding-right: 2em;  
    }

    .heading{
        font-family: "Playfair Display", serif;
        margin-bottom: 0em;
        font-size: 18px;
    }

    .pHeading {
        font-family: "Karla", sans-serif;
        width: 80%;
        font-size: 14px;
    }

    .p {
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        font-size: 10px;
        font-size: 14px;
    }

    .heading{
        font-family: "Playfair Display", serif;
        margin-bottom: 0em;
        font-size: 16px;
    }
    
    .subHeading{
        font-family: "Karla", sans-serif;
        font-size: 12px;
    }
    
    .tabletImage {
        width: 40%;      
        margin: 0 auto;   
        display: block;   
    }
    }