.main {
    display: flex;
    flex-direction: column;
    background-color: #04030F;
    color: white;
    margin: 0 auto; 
    padding-left: 5em;
    padding-right: 5em;  
}

.head {
    color: white;
    font-family: "Playfair Display", serif;
}

.intro{
    margin-bottom: 3em;
}

.link{color: rgb(226, 81, 112);}

.filter{
    margin-bottom: 2em;
}

.btn{
    border: 1px solid white;
    color: white;
    background-color: #0d0c16;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    margin-right: 1.5em;
}

.btn:hover {
    background-color: #18162b;
}

.btnActive {
    border: none;
    background-color: #2b1621;
    color: white;
    border-radius: 50px;
    margin-right: 1.5em;
    width: 150px;
    height: 50px;
  }

  .btnDisabled {
    border: none;
    color: white;
    background-color:#533047;
    border-radius: 50px;
    margin-right: 1.5em;
    width: 120px;
    height: 50px;
}

.p {
    color: white;
    font-family: "Karla", sans-serif;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.project {
    width: 450px;
    height: auto; 
    object-fit: cover;
}

.project:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        background-color: #04030F;
        color: white;
        margin: 0 auto; 
        padding-left: 2em;
        padding-right: 2em;  
    }

    .projects {
        display: flex;
        flex-direction: column;
    }
    
    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .project {
        width: 500px;
        height: auto; 
        object-fit: cover;
    }

    .btn{
        border: 1px solid white;
        color: white;
        background-color: #0d0c16;
        border-radius: 50px;
        width: 120px;
        height: 50px;
        margin-right: 1.5em;
    }

    .btnDisabled {
        border: none;
        color: white 50%;
        background-color: transparent;
        border-radius: 50px;
        margin-right: 1.5em;
        width: 120px;
        height: 50px;
    }
}