

.nav {
    display: flex;
    flex-direction: row;
    background-color: #04030F;
    align-items: center;
    margin: 0 auto;
    padding-left: 5em;
    border-bottom: solid 0.1em white;
    position: sticky;
    z-index: 100;
    top: 0;
    font-family: "Karla", sans-serif;
  }
  
  .navLogo {
    width: 3em;
  }
  
  .navOptions {
    display: flex;
    flex-direction: row;
  }
  
  .navList {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
  }
  
  .navLink:hover {
    color: #9C182F;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 1em;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .nav {
      padding-left: 1em;
      justify-content: space-between;
      width: 100%;
    }
  
    .navOptions {
      display: none;
      flex-direction: column;
      width: 90%;
      text-align: center;
      background-color: #04030F;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 99;
    }
  
    .navOptions.show {
      display: flex;
    }
  
    .navList {
      padding: 1em 0;
      width: 100%;
    }
  
    .hamburger {
      display: flex;
    }
  }
  